@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Raleway&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

.wave {
    position: ;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    transform: rotateX(180deg);
}

.wave .shape-fill {
    fill: #ffc85c;
}

h2{
font-family: 'Raleway', sans-serif;
color:#433d3c;
font-size: 30px;
}

.top{
  text-align: center;
  margin-top: 0;
  background-color:#ffc85c;
  padding: 50px 0px 0px 0px ;
}


form{
  text-align: center;
  margin: auto;
  transition: all 4s ease-in-out;
}

.form-control{
  margin-top:60px;
  width: 600px;
  background: transparent;
  border: none;
  outline:none;
  border-bottom: 1px solid grey;
  color: black;
  font-size: 18px;

}
input{
  height: 45px;
}
form .submit{
  background: black;
  border-color:transparent;
  color:#fff;
  font-weight:bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  border-radius: 30px;
  padding:10px;
}
form .submit:hover{
  background-color:red;
  cursor: pointer;
}
